<!doctype html>
<html>

<head>
    <title>Update Playlist</title>
</head>

<body>
    <h1>Update Playlist</h1>
    <form action="/my-form-handler" method="post">
        <label for="playlist-id">Playlist ID:</label><br>
        <input type="text" id="playlist-id" name="playlist-id"><br>
        <label for="artists">Artists (separated by commas):</label><br>
        <textarea id="artists" name="artists" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>